.product{width: 99%;height: 700px;margin-left: 10px;}   
     .s1{width: 360px;height: 780px;background-color:rgb(234, 236, 236);float: left;margin: 0px 0px 0px 10px;}
     .s1 img{margin: 60px 30px 0px 30px;}
     .s2 img{margin: 40px 0px 0px 30px;object-fit: cover;}
     .s3 img{margin: 90px 30px 0px 30px;}
     .s2{width: 360px;height: 780px;background-color:rgb(234, 236, 236);margin: 0px 0px 0px 10px;float: left;}
     h3{text-align: center; margin-bottom: 0;font-size: 25px;margin-top: -30px;}

.s2 h3{text-align: center; margin-bottom: 0;font-size: 25px;margin-top: 10px;}
.s3 h3{text-align: center; margin-bottom: 0;font-size: 25px;margin-top: 50px;}
.s4 h3{text-align: center; margin-bottom: 0;font-size: 25px;margin-top: 20px;}

     .s1 h3{text-align: center; margin-bottom: 0;font-size: 25px;margin-top: 15px;}
     .s1 ul li,.s2 ul li,.s3 ul li,.s4 ul li{float: left;margin: 0px 20px 0px 20px;line-height: 20px;font-weight: normal;}
     .s3{width: 360px;height: 780px;background-color:rgb(234, 236, 236);margin: 0px 0px 0px 10px;float: left;}
.s1 button,.s4 button{margin: 40px 0px 0px 50px;padding: 10px;font-size: 18px;background-color: #0199d5;border: 1px solid  #0199d5;width: 250px;}
.s2 button{margin: 40px 0px 0px 50px;padding: 10px;font-size: 18px;background-color: #0199d5;border: 1px solid  #0199d5;width: 250px; }
.s3 button{margin: 40px 0px 0px 50px;padding: 10px;font-size: 18px;background-color: #0199d5;border: 1px solid  #0199d5;width: 250px;}
button:hover{opacity: 0.6;color: white;}
.s1 p{font-family: "HP Simplified Light", "Arial";font-size: 20px;margin: 90px 0px 0px 100px;}
.s4 p{font-family: "HP Simplified Light", "Arial";font-size: 20px;margin: 90px 0px 0px 100px;}

.s2 p{font-family: "HP Simplified Light", "Arial";font-size: 20px;margin: 160px 0px 0px 100px;}

.s3 p{font-family: "HP Simplified Light", "Arial";font-size: 20px;margin: 60px 0px 0px 100px;}
.s4{width: 360px;height: 780px;background-color:rgb(234, 236, 236);margin-left: 10px;float: left;}
 
.s4 img{margin: 80px 30px 0px 30px;}

.footer p{text-align: left;padding: 10px;font-weight: bold;font-family: "HP Simplified Light", "Arial";}
.footer  img{width: 25px;height: 20px;margin-left: 140px;float: left;margin-top: -40px}

 h3{font-family: "HP Simplified Light", "Arial";font-size: 18px;} 
h6{color: white;margin: -40px 0px 0px 180px;font-size: 17px;}
  .footer {background:rgb(119, 119, 121);height:440px;margin-top: 400px;}
  .footer1,.footer2,.footer3,.footer4{float: left;margin: 0;padding: 0;padding-left: 90px;line-height: 30px;}
  .footer1 ul li a{text-decoration: none;color: white;font-size: 15px;}.footer1 ul li  {list-style-type: none;}
  .footer1 ul li:hover a{color: cyan;text-shadow: 1px 1px 5px blue}
  .footer2 ul li a{text-decoration: none;color: white;font-size: 15px;}.footer2 ul li  {list-style-type: none;}
  .footer2 ul li:hover a{color: cyan;text-shadow: 1px 1px 5px blue}
  .footer3 ul li a{text-decoration: none;color: white;font-size: 15px;}.footer3 ul li  {list-style-type: none;}
  .footer3 ul li:hover a{color: cyan;text-shadow: 1px 1px 5px blue}
  .footer4 ul li a{text-decoration: none;color: white;font-size: 15px;}.footer4 ul li  {list-style-type: none;}
  .footer4 ul li:hover a{color: cyan;text-shadow: 1px 1px 5px blue}
  
  
  .footer-icons h3{margin: 0;padding: 0;margin-right: 450px;float: right;font-family: 'HPSimplifiedLight',arial;}
  
  .footer-icons{margin-top: 40px;line-height: 15px;margin: 0;padding: 0;}
  .footer-icons a{margin: 20px 0px 0px -50px;float: left;}
  .footer-icons a img:hover{opacity: 0.4}
  
  .footer-icons img{ display: inline-block;
     width: 25px;height: 20px;cursor: pointer;border-radius: 4px;
     font-size: 20px;color: #ffffff;text-align: center;margin: 25px 40px 0px 70px;}
